@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;600;&display=swap");


/* 
List of colors used 

Text color : #111827 
Border color (Buttons) : #d1d5db
Svg Icons : #9ca3af 

Headre photo - Photo by Joanna Kosinska on Unsplash

*/

body {
    font-family: "Inter", sans-serif;
    margin: 0.5em;
    padding: 0;
}
.header {
    position: relative;
    width: 100%;
    height: 200px;
    background: url('header.jpeg') no-repeat center center;
    background-size: cover;

    /* background-size: contain; Ensure the image fits within the element without stretching */
    /* background-attachment: fixed;  Keep the image fixed relative to the viewport. It will not scroll with the content but will remain in the same position. */
}
.profile-picture {
    position: absolute;
    left: 50px;
    bottom: -40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid white;
    overflow: hidden;
}
.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-info {
    position: absolute;
    bottom: -50px;
    left: 150px;
    color:  #111827 ;
}
.profile-info h1 {
    margin: 0;
    font-size: 24px;
}
.buttons {
    position: absolute;
    display: flex;
    right: 50px;
    bottom: -50px;
}
.buttons button {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #d1d5db;
    padding: 10px 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #9ca3af;
    position: relative;
}

.buttons button img{
    margin-right: 10px; 
    width: 16px;
    height: 16px;
}

